:root{
    --bg-claro: #f2f2f2;
    --texto-nav-claro: #36454F;
    --texto-corpo-claro: #151A1E;
    --texto-titulo-claro: #121212;
    --bg-escuro: #2E2E2E;
    --texto-nav-escuro: #CCCCCC;
    --texto-corpo-escuro: #F0F0F0;
    --texto-titulo-escuro: #FAFAFA;
    --detalhe-marrom: #F79433;
    --detalhe-vermelho-1:#A90E13;
    --detalhe-vermelho-2: #ED1C24;
    --detalhe-amarelo: #FFF200;
}


body{
    background-color: var(--bg-claro);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    position: absolute;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 80px);
    gap: 20px;
    pointer-events: none;
    z-index: -999;
    margin-left: 72px;
    margin-right: 72px;
}

.coluna{
    background-color: rgb(202, 47, 47);
    opacity: 25%;
}
.cabecalho{
    margin-left: 72px;
    margin-right: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

nav{
    border: 1px solid blue;
    display: flex;
    justify-content: space-around;
    margin-right: 250px;
}

nav a{
    margin-right: 75px;
    text-decoration: none;
    color: var(--texto-nav-claro);
    font-size: 26px;
}

nav a:nth-child(1){
    margin-left: 0;
    padding: 0 30px 0 0;
}

nav a:nth-child(3){
    margin-right: 0;
}

.logo{
    width: 160px;
    height: 200px;
    margin-left: 5px;
}