/*Estilização da página vai aqui*/
body{
    background-color: #fffa96;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}

main{
    margin-left: 72px;
    margin-right: 82px;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 1196px;
    border-bottom: 15px solid #ed1c24;
    background-color: #fffa96;
}

nav{
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}

nav a{
    margin-right: 75px;
    text-decoration: none;
    color: #36454F;
    font-size: 26px;
}

nav a:nth-child(1){
    grid-column: 6 / 8;
}
nav a:nth-child(2){
    padding: 0 60px 0 60px;
    grid-column: 9 / 11;
}

nav a:nth-child(3){
    grid-column: 12 / 14;
    margin-right: 0;
}

.logo{
    width: 140px;
    height: 200px;
    margin-right: 10px;
}

.seletor-temas{
    margin-right: 17px;
    border: none;
    background: none;
    cursor: pointer;
}

.seletor-escuro{
    display: none;
}


#hot-dog, #hamburger, #bebida, #doces{
    border: 2px solid #f79433;
    border-radius: 20px;
    
}

.nome{
    font-weight: bold;
}


#hot-dog td, #hamburger td, #bebida td{
    padding: 10px;
    font-size: 20px;

}

#titulo-1, #titulo-2{
    margin-top: 300px;
}

#titulo-3, #titulo-4{
    margin-top: 0;
}

.grid-display{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: start;
    margin-bottom: 100px;
}

.coluna-direita{
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.tabela-2,
.tabela-3,
.tabela-4{
    flex: 1;
}

.tabela-4 table{
    padding: 10px;
}

table {
    width: 100%;
}

.origem-vina{
    border: 2px solid #f79433;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.footer-image{
    display: block;
    width: 100%;
}

.rodape{
    background-color: var(--detalhe-vermelho-1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.rodape{
    background: linear-gradient(
        180deg,
        #a90e13,
        #7d0b0f
    );

    color: white;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 50px;

    padding: 60px 80px;
}

.coluna-rodape{
    display: flex;
    flex-direction: column;
}

.logo-rodape{
    width: 140px;
    margin-bottom: 20px;
}

.slogan{
    line-height: 1.7;
    max-width: 250px;
    opacity: .9;
}

.coluna-rodape h3{
    margin-bottom: 20px;

    font-size: 1.4rem;

    color: #fffa96;

    position: relative;
}

.coluna-rodape h3::after{
    content: "";

    display: block;

    width: 60px;
    height: 4px;

    margin-top: 8px;

    background-color: #fffa96;
}

.item-contato{
    display: flex;
    align-items: center;

    gap: 12px;

    margin-bottom: 20px;

    cursor: pointer;

    transition: .3s;
}

.item-contato:hover{
    transform: translateX(5px);
}

.coluna-rodape iframe{
    width: 100%;
    max-width: 320px;

    height: 200px;

    border-radius: 15px;

    margin-top: 15px;
}

.copyright{
    background-color: #65070a;

    color: white;

    text-align: center;

    padding: 20px;

    font-size: .9rem;
}

.seletor-checkbox {
  display: none;
}

/* Estiliza o label para se comportar como um botão clicável */
.seletor-label {
  cursor: pointer;
  display: inline-block;
}

.seletor-label svg {
  transition: transform 0.2s ease;
}

.seletor-label .seletor-escuro {
  display: none; 
}
.seletor-label .seletor-claro {
  display: block; 
}

.seletor-checkbox:checked + .seletor-label .seletor-claro {
  display: none; 
}
.seletor-checkbox:checked + .seletor-label .seletor-escuro {
  display: block; 
}


body:has(.seletor-checkbox:checked) {
  background-color: #1e1b15;
  color: #fafafa;
}

/* Alterando os elementos específicos da landing page para o modo escuro */
body:has(.seletor-checkbox:checked) .hero-section {
  background-color: #1e1e1e;
}

body:has(.seletor-checkbox:checked) .hero-section p {
  color: #cccccc;
}

body:has(.seletor-checkbox:checked) .destaques-section {
  background-color: #1e1b15;
}

body:has(.seletor-checkbox:checked) .destaques-section h2 {
  color: #ffffff;
}

body:has(.seletor-checkbox:checked) .card-lanche {
  background-color: #1e1e1e;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.05);
}

body:has(.seletor-checkbox:checked) .card-lanche h3 {
  color: #ffffff;
}

body:has(.seletor-checkbox:checked) .card-lanche p {
  color: #b3b3b3;
}

body:has(.seletor-checkbox:checked) header{
    background-color: #1e1b15;
    border-bottom: 15px solid #a90e13;
}

body:has(.seletor-checkbox:checked) header a{
    color: #cccccc;
}